#home_button {
    background-color: #07889B;
    margin-top: 5%;
    width: 200px;
    font-weight: bold;
    color: white;
    height: 80px;
}

.center_button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
}

.home_background {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}